
.fullTextView {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    .fullTextView {
        height: calc(100% - 75px);
    }
}

.editor {
    flex-grow: 1;
    margin: 0 1em 1em 1em;
}