

.modalFile {
    padding: .5em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.fileText {
    padding: .5em;
}

.modalFileList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em;
    padding: 1em;
   border: slategray thin solid;
}

.hiddenImage {
    display: none;
    height: 0;
}

.imageSize {
    max-width: 200px;
    max-height: 200px;
}

.imagePreviewPlaceholder {
    text-align: center;
    border: thin black solid;
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5em;
    padding: 0 1em;
}

.imageTitle {
    padding-left: 1em;
}