
.dropFile {
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: flex-end;
    flex: 0 0 auto;
}

.modalFile {
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: flex-end;
    flex: 0 0 auto;
    background: #0002;
    border-radius: .3em;
    padding: 0 .25em 0 .15em;
}

.modalFile:hover {
    background:#5ac8fa80;
}

.fileText {
    padding: .5em;
    margin-right: 3em;
}


.fileRow {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.rowBackground {
    display: flex;
    align-items: center;
    margin: .1em;
}

.modalFileList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em;
    padding: 1em;
   border: slategray thin solid;
   overflow: auto;
}
.hiddenImage {
    display: none;
    height: 0;
}

.imageSize {
    max-width: 200px;
    max-height: 200px;
}

.imagePreviewPlaceholder {
    text-align: center;
    border: thin black solid;
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5em;
    padding: 0 1em;
}

.imageTitle {
    margin-left: 1em;
}

.removeButton {
    padding-left: 1em;
    cursor: pointer;
}

.removeButton:hover {
    color: red;
}

.removeButton:click {
    color: black;
}