.toolbar {
    min-height: 3em;
    width: 100%;
    background-color: #02181a;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.toolbar-button {
    background: transparent;
    color: white;
    margin: 0.5em;
    border: none;
}

.toolbar-button:hover {
    background: black;
}

.toolbar-button:focus {
    outline: none;
}

.modalFileHighlighted {
    background-color: slategray;
}

.toolbarModal {
    background-color: darkslategray;
    color: white;
    margin: 3em;
    display: flex;
    flex-direction: column;
}

.modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modalButton {
    border-radius: 3px;
  padding: 0.35em;
  background-color: slategray;
  margin: .25em 1em .75em 0;
  border: none;
}
