.toolbar {
    min-height: 3em;
    width: 100%;
    background-color: #02181a;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.toolbar-button {
    background: transparent;
    color: white;
    margin: 0.5em;
    border: none;
}

.toolbar-button:hover {
    background: black;
}

.toolbar-button:focus {
    outline: none;
}

.modalFileHighlighted {
    background-color: slategray !important;
}

.toolbarModal {
    background-color: darkslategray;
    color: white;
    margin: 3em;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 6em);
    max-width: 50em;
}

.modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 2.5em;
}

.modalButton {
    border-radius: 3px;
    padding: 0.35em;
    background-color: slategray;
    margin: 0.25em 1em 0.75em 0;
    border: none;
}

.clearButton {
    color: red;
    font-weight: bold;
}
