.tree-text {
    border: none;
    width: 100%;
    color: white;
    background-color: black;
    padding: .1em .25em .1em .25em;
    font-size: medium;
    cursor: text;
    border: thin transparent solid;
    line-height: 1.1em;
    margin-top: .1em;
}
.tree-text:hover {
    border: thin lightgray solid;
    border-radius: 3px;
}

.unselected-tree-text {
    vertical-align: middle;
    margin: .5em 0 .5em 0;
}
/* .tree-text:hover {
    border: thin black solid;
} */