.drawingView {
    display:flex;
    flex-direction: column;
}
.drawingView canvas {
    flex-grow: 1;
}
.canvasToolbar {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: lightslategray;
    padding: .5em;
}
.canvasToolbar label {
    text-align: right;
    padding: .25em .25em;
    flex-grow: 2;
}

.canvasButton {
    background: black;
    color: lightslategray;
    border: none;
}
.canvasButton:hover:active {
    color: white;
}
.canvasButton:hover {
    color: darkslategray;
}
.canvasButton:focus {
    outline: none;
}

.canvasButton:disabled {
    color: #575757
}

.canvasButton:disabled:hover {
    color: #575757;
}

canvas {
    cursor: crosshair;
}