

.rtfEditor {
    box-sizing: border-box;
    cursor: text;
    padding: 16px;
    overflow: auto;
    min-width: 300px;
  }

  .editor :global(.public-DraftEditor-content) {
    min-height: 140px;
  }
  .draftJsToolbar__popup__2vR5v:after, .draftJsToolbar__popup__2vR5v:before {
    bottom: 75%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }